{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">{{ topic.subject }}</h2>
    <a class="btn btn-default" href="{{ path('forum') }}">Back to Forum</a>
    <a href="{{ path('topicreply', {'id': topic.id}) }}"
       class="btn btn-success">Reply</a>

    <div class="panel panel-default"  style="margin-top: 20px;">
    <!-- Default panel contents -->
    <div class="panel-heading">Replies</div>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col style="width:5%">
            <col style="width:65%">
            <col style="width:15%">
            <col style="width:15%">
        </colgroup>
        <thead>
        <tr>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for reply in topic.replies %}
            <tr>
                <th scope="row">
                    {% if reply.user is not null %}
                        <div class="avatarForum">
                            <span><a href="{{ path('profiluser', {'id': reply
                                    .user.id }) }}">{{
                                    reply.user
                                    .username|capitalize
                                }}</a></span>
                            <img alt="Brand" src="{{ asset('img/users/' ~ reply.user.salarie.img )
                            }}">
                            {% for role in reply.user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    <span class="label label-black">ADMIN</span>
                                {% elseif role == "ROLE_FORMATEUR" %}
                                    <span class="label label-warning">FORMATEUR</span>
                                {% elseif role == "ROLE_MODERATEUR" %}
                                    <span class="label label-danger">MODERATEUR</span>
                                {% elseif role == "ROLE_RH" %}
                                    <span class="label label-success">RH</span>
                                {% elseif role == "ROLE_GESTIONNAIRE" %}
                                    <span class="label
                                    label-primary">GESTIONNAIRE</span>
                                {% endif %}
                            {% endfor %}
                        </div>

                    {% else %}
                        <div class="avatarForum">
                            <span>Anonymous</span>
                            <img alt="Brand" src="{{ asset('img/users/default.png')
                            }}">
                        </div>
                    {% endif %}
                </th>
                <td>{{ reply.content }}</td>
                <td><p style="font-size: 12px;">{{ reply.date|date("d-m-Y
                H:i:s")
                        }}</p></td>
                <td>
                    {% if reply.user.username == app.user.username or
                    is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR')%}
                    <a href="{{ path('replyedit', {'id': reply.id}) }}"
                       class="btn
                btn-default btn-sm"><span class="glyphicon
                glyphicon-edit" aria-hidden="true"></span> Edit</a>
                    <a href="{{ path('replyremove', {'id': reply.id})
                    }}" class="btn
                btn-danger btn-sm"><span class="glyphicon
                glyphicon-trash" aria-hidden="true"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('topicreply', {'id': topic.id}) }}"
       class="btn btn-success">Reply to the topic</a>
{% endblock %}