{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">{{ topic.subject }}</h2>
    <a class="btn btn-default" href="{{ path('forum') }}">Back to Forum</a>
    <a href="{{ path('topicreply', {'id': topic.id}) }}"
       class="btn btn-success">Reply</a>

    <div class="panel panel-default"  style="margin-top: 20px;">
    <!-- Default panel contents -->
    <div class="panel-heading">Replies</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for reply in topic.replies %}
            <tr>
                <th scope="row">
                    {% if reply.user is not null %}
                        <div class="avatarForum">
                            <span>{{ reply.user.username|capitalize }}</span>
                            <img alt="Brand" src="{{ asset('img/users/' ~ reply.user.salarie.img )
                            }}">
                        </div>

                    {% else %}
                        <div class="avatarForum">
                            <span>Anonymous</span>
                            <img alt="Brand" src="{{ asset('img/users/default.png')
                            }}">
                        </div>
                    {% endif %}
                </th>
                <td>{{ reply.content }}</td>
                <td>{{ reply.date|date("d-m-Y H:i:s")  }}</td>
                <td><a href="{{ path('replyedit', {'id': reply.id}) }}"
                       class="btn
                btn-default">Edit</a>
                    <a href="{{ path('replyremove', {'id': reply.id})
                    }}" class="btn
                btn-danger">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('topicreply', {'id': topic.id}) }}"
       class="btn btn-success">Reply to the topic</a>
{% endblock %}