{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('annuaireempty') }}">Annuaire</a></li>
{% endblock %}
{% block body %}
    <h2 class="page-header">ANNUAIRE</h2>
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Rechercher</div>
        <div style="margin: 10px 10px;">
             <div class="row">
                 <div class="col-md-4">
                     {{ form_start(form) }}
                 </div>
                <div class="col-md-4">
                    {{ form_widget(form) }}
                </div>
                <div class="col-md-4">
                    {{ form_end(form) }}
                </div>
            </div>
          </div>
     </div>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Annuaire</div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Salaire</th>
            <th>Contrat</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th><div class="littleImg"><img src="{{ asset
                        ('img/users/' ~ user.salarie.img ) }}"
                                                                alt="photo"
                                                style="margin: 0 auto;"
                        ></div></th>
                <th scope="row"><a href="{{ path('profiluser', {'id': user.id}) }}">{{ user.username }}</a></th>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                        {% elseif role == "ROLE_ADMIN" %}
                            <span class="label label-black">ADMIN</span>
                        {% elseif role == "ROLE_FORMATEUR" %}
                            <span class="label label-warning">FORMATEUR</span>
                        {% elseif role == "ROLE_MODERATEUR" %}
                            <span class="label label-danger">MODERATEUR</span>
                        {% elseif role == "ROLE_RH" %}
                            <span class="label label-success">RH</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ user.salarie.nom }}</td>
                <td>{{ user.salarie.prenom }}</td>
                <td>{{ user.salarie.sexe }}</td>
                <td>{{ user.salarie.salaire }} €</td>
                <td>{{ user.salarie.typeContrat }}</td>
                <td><a href="{{ path('profiluser', {'id': user.id}) }}"
                       class="btn
                btn-info btn-sm">Details</a>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_RH')%}
                    <a href="{{ path('editprofil', {'id': user.id}) }}"
                       class="btn
                    btn-default
                    btn-sm">Edit</a>
                    <a href="" class="btn  btn-danger btn-sm">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <nav>
        <ul class="pagination">
            <li
                {% if page == 1 %}
                    class="disabled"
                {% endif %}
            >
                <a href="{{ path('annuaire', {'page': page-1}) }}"
                   aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..maxpage %}
                {% if page == i %}
                    <li class="active"><a href="{{ path('annuaire', {'page': i}) }}">{{ i
                            }}</a></li>
                {% else %}
                    <li><a href="{{ path('annuaire', {'page': i}) }}">{{ i }}<span class="sr-only">(current) </span></a></li>
                {% endif %}
            {% endfor %}
            <li
                {% if page == maxpage %}
                    class="disabled"
                {% endif %}
            >
                <a href="{{ path('annuaire', {'page': page+1}) }}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var listUsername = [];
            {% for user in listusers %}
                listUsername.push({ label : "{{ user.salarie.nom }}", value:
                        "{{ user.username }}"});
                listUsername.push({ label : "{{ user.salarie.prenom }}", value:
                    "{{ user.username }}"});
            {% endfor %}
            $( "#form_recherche" ).autocomplete({
                source: function(request, response) {
                    var results = $.ui.autocomplete.filter(listUsername, request.term);
                    response(results.slice(0, 5));
                }
            });
        });
    </script>
{% endblock %}