{% extends 'base.html.twig' %}
{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('annuaireempty') }}">Annuaire</a></li>
{% endblock %}
{% block body %}
    <h2 class="page-header">ANNUAIRE</h2>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Annuaire</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Salaire</th>
            <th>Contrat</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.username }}</th>
                <td>{{ user.salarie.nom }}</td>
                <td>{{ user.salarie.prenom }}</td>
                <td>{{ user.salarie.sexe }}</td>
                <td>{{ user.salarie.salaire }} €</td>
                <td>{{ user.salarie.typeContrat }}</td>
                <td><a href="{{ path('profiluser', {'id': user.id}) }}"
                       class="btn
                btn-info btn-sm">Details</a>
                    <a href=""  class="btn btn-default btn-sm">Edit</a>
                    <a href="" class="btn  btn-danger btn-sm">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <nav>
        <ul class="pagination">
            <li
                {% if page == 1 %}
                    class="disabled"
                {% endif %}
            >
                <a href="{{ path('annuaire', {'page': page-1}) }}"
                   aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..maxpage %}
                {% if page == i %}
                    <li class="active"><a href="{{ path('annuaire', {'page': i}) }}">{{ i
                            }}</a></li>
                {% else %}
                    <li><a href="{{ path('annuaire', {'page': i}) }}">{{ i }}<span class="sr-only">(current) </span></a></li>
                {% endif %}
            {% endfor %}
            <li
                {% if page == maxpage %}
                    class="disabled"
                {% endif %}
            >
                <a href="{{ path('annuaire', {'page': page+1}) }}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}