{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="/formation/">Back to  formation list</a>
    <a class="btn btn-primary" href="{{ path('formationinscription', {'id':
        formation.id}) }}">Inscription</a>
    <h2 class="page-header">{{ formation.title }} <small>{{ formation.teacher
            }}</small></h2>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Illustration formation</div>
                    <img class="card-img-top" src="{{ asset('img/formations/' ~ formation
                    .img )
                    }}" alt="Card image cap">

            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Informations sur la formation</div>
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:80%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ formation.description}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td>{{ formation.begin|date('y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Durée</th>
                        <td>{{ formation.duration }} jours</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{% if formation.locked %}
                                Verouillée
                            {% else %}
                                Ouverte
                            {% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Coût</th>
                        <td>{{ formation.cost }} euros</td>
                    </tr>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMATEUR')%}
                    <tr>
                        <th>

                            <a href="{{ path('formationedit', {'id': formation.id}) }}">
                                <span class="label label-info" >Edit</span></a>


                            <a href="{{ path('formationlock', {'id': formation.id})
                            }}"><span class="label label-warning"><i class="fa fa-lock" aria-hidden="true"></i></span></a>

                            <a href="{{ path('formationremove', {'id': formation.id})
                            }}" ><span class="label label-danger" ><i class="fa fa-trash" aria-hidden="true"></i></span></a>

                        </th>
                        <td></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h2 class="page-header">Paticipants</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading">Participants inscrits</div>
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:70%">
                        <col style="width:20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMATEUR')%}
                        <th>Action</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscription in inscriptions %}
                        {%  if inscription.validated == true %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td><a href="{{ path('profiluser', {'id': inscription.user.id })  }}"> {{ inscription.user.username }}</a></td>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMATEUR')%}
                                <td>

                                    {%  if inscription.validated != true %}
                                        <a href="{{ path('formationvalidateinscription', {'id':
                                            inscription.id }) }}"class="btn
                                            btn-success btn-sm "><span
                                                    class="fa fa-check"
                                                    aria-hidden="true"></span></a>
                                    {% endif %}
                                    <a href="{{ path
                                    ('formationremoveinscription', {'id': inscription.id }) }}"class="btn btn-danger btn-sm"><span class="fa fa-times" aria-hidden="true"></span></a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-danger">
                <!-- Default panel contents -->
                <div class="panel-heading">Participants en attente de validation</div>
                <table class="table table-striped table-bordered">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:70%">
                        <col style="width:20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMATEUR')%}
                        <th>Action</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscription in inscriptions %}
                        {% if inscription.validated == false %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td><a href="{{ path('profiluser', {'id': inscription
                                        .user.id })   }}"> {{ inscription.user.username
                                        }}</a></td>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMATEUR')%}
                                <td>
                                    {%  if inscription.validated != true %}
                                        <a href="{{ path('formationvalidateinscription', {'id':
                                            inscription.id }) }}"class="btn
                                            btn-success btn-sm"><span
                                                    class="fa fa-check"
                                                    aria-hidden="true"></span></a>
                                    {% endif %}
                                    <a href="{{ path
                                    ('formationremoveinscription', {'id': inscription.id }) }}"class="btn btn-danger btn-sm"><span class="fa fa-times" aria-hidden="true"></span></a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>



{% endblock %}